<!DOCTYPE html>
<html>
<head>
<title>Ansible GitOps Integration Lab</title>
</head>
<body>
<center>
<?php
	$db=mysqli_connect("{{  hostvars[groups['database_servers'][0]]['ansible_host'] }}","{{ mysql_info.user }}","{{ mysql_info.password }}","{{ mysql_info.database }}");
	if (mysqli_connect_errno()){ 
	
	echo "<h1> Failed to connect <h1>"; 
	}else {
	echo "<h1> <img src=images/ansible_bg.png alt='Ansible Automation Platform' width=300 height=100> </h1>";
	}
	
	$sql="SELECT username,userpass,usershell,userhome from login where username=\"$_GET[name]\"";
	if($result=mysqli_query($db,$sql)){


	while ($row=mysqli_fetch_row($result)){
		echo $row[0] . " " . $row[1] ." " .  $row[2]. " ", $row[3]. "<br />";
	exit();
	}
	}
	# echo $_GET['name']. " User not found.";

?>
	
	<form action="<?php $_PHP_SELF?>" method="GET" >
		Enter User Name: <input type=text name="name" />
		<input type="submit" />

	</form>
	</center>

</body>

</html>
